@use '../util' as *; // apparently if you import all these as *, then you can just directly
// use the names defined in util without having to do util.your_name each time
// should be avoided for bigger app

.card {
    background: var(--dark-card);
    color: var(--dark-text1);
    width: rem(255); // TEMPORARY
    text-align: center;
    padding: rem(25);

    &__platform {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
    }
    &__icon {
        margin-right: rem(8);
        &--facebook {

        }
        &--instagram {

        }
        &--youtube {

        }
    }

    &__username {
        font-weight: bold;
        font-size: rem(12);
    }

    &__label {
        color: var(--dark-text1);
        font-size: rem(12);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: rem(5);
    }

    &__count {
        color: var(--light-bg);
        font-weight: 700; // =bold
        line-height: 1;
        margin-bottom: rem(9);
        &--big {
            font-size: rem(56);
            letter-spacing: rem(-2);
        }

        &--small {
            
        }
    }
}