html {
    font-size: 100%; // According to CoderCoder, helps with accessibility
    box-sizing: border-box; // If add padding to an element, ensures that
    // the total width of the element will include the padding, so an element of 300px
    // with a padding of 20px will still be 300px
}

// This way all elements inherit from the border-box box-sizing
*, *::before, *::after {
    box-sizing: inherit;
}

// Reset margin and padding at the beginning, also choose the font provided from the tutorial
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
}